streamlit
pandas
numpy
plotly
transformers
torch
sentence-transformers
tweepy
facebook-sdk
requests
nltk
textblob
scikit-learn
networkx
python-instagram
praw
google-api-python-client
pytumblr
huggingface-hub
openai
python-dotenv
social-post-api